.banner-container {
    position: fixed;
    top: 0;
    padding: 0 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    border-bottom: 1px white solid;
    z-index: 100;
}

.links {
    display: flex;
}

.links a {
    margin: 10px 10px;
}

a, .logo {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 12px;
    border-radius: 5px;
}

a:hover, .logo:hover, .active {
    background-color: rgb(31, 33, 36);
}
