.header-container {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    text-align: center;
}

.title {
    font-size: 100px;
    margin: 20px 0;
    color: #DAD7CD;
}

.social {
    position: absolute;
    animation: fadein 2s ease forwards;
    animation-delay: calc(var(--order) * 1000ms);
    left: 10%;
}

.social::before {
    content: '';
    height: 30px;
    border: 1px solid white;
    width: 0;
    display: flex;
    margin-left: 44px;
}

.social-icon-container {
    display: flex;
    margin: 20px;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.social-icon-text {
    font-size: 16px;
}

@keyframes fadein {
    from { bottom: 100%; }
    to   { bottom: 60%; }
}