/*
DAD7CD Text
09191F primary
264653 in between
2A9D8F secondary
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    font-family: 'Segoe UI';
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.social {
    position: absolute;
    animation: fadein-sm 2s ease forwards;
    animation-delay: calc(var(--order) * 1000ms);
    left: 0;
    margin-left: calc(0.75rem / 2);
}

.social::after {
    content: '';
    height: 34px;
    width: 1px;
    background-color: rgb(163 230 53);
    display: flex;
    margin-left: calc(2rem - 2px);
}

.social::before {
    display: none;
}

@media (max-width: 640px) {
    .social {
        display: flex;
        justify-content: center;
        width: 100%;
        animation: fadein-b 2s ease forwards;
        margin-left: 0;
    }

    .social::after {
        display: none;
    }

    .social::before {
        display: none;
    }
}

@media (min-width: 1024px) {
    .social {
        animation: fadein 2s ease forwards;
        animation-delay: calc(var(--order) * 1000ms);
    }

    .social::before {
        content: '';
        height: 34px;
        width: 1px;
        background-color: rgb(163 230 53);
        display: flex;
        margin-left: calc(2rem - 2px);
    }

    .social::after {
        display: none;
    }
}

@keyframes fadein {
    from { bottom: 100%; }
    to   { bottom: 65%; }
}

@keyframes fadein-sm {
    from { top: 100%; }
    to   { top: 70%; }
}

@keyframes fadein-b {
    from { top: 100%; }
    to   { top: 90%; }
}