/*
DAD7CD Text
09191F primary
264653 in between
2A9D8F secondary
*/

html, body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    font-family: 'Segoe UI';
}

.container {
    display: flex;
    flex-direction: column;
}