.serious-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
}

.content-section-title {
    padding: 1rem 1.5rem;
    margin: 0;
}

.accordion-button {
    color: #13505B;
}

.accordion-button div {
    width: 98%;
}

.serious-container p, h4, ul {
    margin: 0;
}

.serious-container p, li {
    font-size: 14px;
}

.content-container {
    padding: 30px 10%;
}

.content-section {
    margin-bottom: 20px;
}

.job-titles {
    display: flex;
}

.line-break {
    width: 20px;
    border-top: 1px solid black;
}