.serious-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.serious-container p, h4, ul {
    margin: 0;
}

.serious-container p, li {
    font-size: 14px;
}

.content-container {
    padding: 30px 10%;
}

.content-section {
    margin-bottom: 20px;
}

.job-titles {
    display: flex;
}

.line-break {
    width: 20px;
    border-top: 1px solid black;
}